<!DOCTYPE html>
<html>

<head>
    <title>Εγγραφές Χειριστών</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }

        .approve-button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #191e79;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
        }

        .approve-button:hover {
            background-color: #585858;
        }

        .approve-button:disabled {
            background-color: #ccc !important;
            color: #999 !important;
            cursor: not-allowed;
        }

        .alert {
            position: relative;
            display: flex;
            align-items: center;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            width: fit-content;
        }

        .alert-failure {
            background-color: #ef7f7f;
            color: #bc0404;
            border: 1px solid #ef7f7f;
        }

        .alert .message {
            flex: 1;
        }

        .alert-success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }

        .alert .close {
            margin-left: 30px;
            color: #7c7c7c;
            font-size: 30px;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <% if (successMessage.length> 0) { %>
        <div class="alert alert-success">
            <span class="message">
                <%= successMessage %>
            </span>
            <span class="close">&times;</span>
        </div>
        <% } %>

            <% if (failureMessage.length> 0) { %>
                <div class="alert alert-failure">
                    <span class="message">
                        <%= failureMessage %>
                    </span>
                    <span class="close">&times;</span>
                </div>
                <% } %>

                    <a href="/libapp/general_admin/starting_page?user_id=<%= user_id %>"
                        style="position: absolute; top: 20px; left: 30px; font-size: 20px; text-decoration: none; color: #191e79">Αρχική</a>


                    <h1>Εγγραφές Χειριστών</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>Όνομα</th>
                                <th>Σχολείο</th>
                                <th>Κατάσταση</th>
                                <th>Ενέργεια</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% admins.forEach(function(admin) { %>
                                <tr>
                                    <td>
                                        <%= admin.SchoolAdmin %>
                                    </td>
                                    <td>
                                        <%= admin.Name %>
                                    </td>
                                    <td>
                                        <% if (!admin.Approved) { %>
                                            Δεν Εγκρίθηκε
                                            <% } else { %>
                                                Εγκρίθηκε
                                                <% } %>
                                    </td>
                                    <td>
                                        <% if (!admin.Approved) { %>
                                            <form action="admins/approve" method="POST">
                                                <input type="hidden" name="adminId" value="<%= admin.IdUsers %>">
                                                <input type="hidden" name="user_id" value="<%= user_id %>">
                                                <button class="approve-button" type="submit">Εγκρίνω</button>
                                            </form>
                                            <% } else { %>
                                                <button class="approve-button" type="button" color="#585858"
                                                    disabled>Εγκρίθηκε</button>
                                                <% } %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <script>
                        // Close flash message when close button is clicked
                        const closeButtons = document.querySelectorAll('.close');
                        closeButtons.forEach(button => {
                            button.addEventListener('click', () => {
                                const alert = button.parentElement;
                                alert.style.display = 'none';
                            });
                        });
                    </script>

</body>

</html>