<!DOCTYPE html>
<html>

<head>
    <title>Βιβλία</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display: flex;
            flex-direction: column;
            /* justify-content: center;
            align-items: center; */
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }

        .search-container {
            margin-bottom: 20px;
        }

        .search-input {
            width: 150px;
            margin-right: 10px;
        }
    </style>
    <script>
        function searchTable() {
            var titleSearchTerm = document.getElementById("titleInput").value.toLowerCase();
            var categorySearchTerm = document.getElementById("categoryInput").value.toLowerCase();
            var writerSearchTerm = document.getElementById("writerInput").value.toLowerCase();
            var copiesSearchTerm = document.getElementById("copiesInput").value.toLowerCase();

            var rows = document.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var titleCell = rows[i].getElementsByTagName("td")[1];
                var categoryCell = rows[i].getElementsByTagName("td")[4];
                var writerCell = rows[i].getElementsByTagName("td")[3];
                var copiesCell = rows[i].getElementsByTagName("td")[10];

                if (titleCell && categoryCell && writerCell && copiesCell) {
                    var title = titleCell.innerText.toLowerCase();
                    var category = categoryCell.innerText.toLowerCase();
                    var writer = writerCell.innerText.toLowerCase();
                    var copies = copiesCell.innerText.toLowerCase();

                    if (
                        title.includes(titleSearchTerm) &&
                        category.includes(categorySearchTerm) &&
                        writer.includes(writerSearchTerm) &&
                        copies.includes(copiesSearchTerm)
                    ) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</head>

<body>

    <a href="/libapp/school_admin/starting_page?user_id=<%= user_id %>&school_id=<%= school_id %>"
        style="position: absolute; top: 20px; left: 30px; font-size: 20px; text-decoration: none; color: #191e79">Αρχική</a>

    <h1>Βιβλία</h1>

    <div class="search-container">
        <label class="search-label" for="titleInput">Αναζήτηση Τίτλου:</label>
        <input type="text" id="titleInput" class="search-input" oninput="searchTable('title')"
            placeholder="Αναζήτηση Τίτλου">

        <label class="search-label" for="writerInput">Αναζήτηση Συγγραφέων:</label>
        <input type="text" id="writerInput" class="search-input" oninput="searchTable('writers')"
            placeholder="Αναζήτηση Συγγραφέων">

        <label class="search-label" for="categoryInput">Αναζήτηση Κατηγοριών:</label>
        <input type="text" id="categoryInput" class="search-input" oninput="searchTable('categories')"
            placeholder="Αναζήτηση Κατηγοριών">

        <label class="search-label" for="copiesInput">Αναζήτηση Αντιτύπων:</label>
        <input type="text" id="copiesInput" class="search-input" oninput="searchTable('copies')"
            placeholder="Αναζήτηση Αντιτύπων">
    </div>


    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Τίτλος</th>
                <th>Εκδότης</th>
                <th>Συγγραφείς</th>
                <th>Κατηγορίες</th>
                <th>Λέξεις Κλειδιά</th>
                <th>Αριθμός Σελίδων</th>
                <th>Περίληψη</th>
                <th>Εικόνα</th>
                <th>Γλώσσα</th>
                <th>Αντίτυπα</th>
                <th>Βαθμολογία</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(book) { %>
                <tr>
                    <td>
                        <%= book.ISBN %>
                    </td>
                    <td>
                        <%= book.Title %>
                    </td>
                    <td>
                        <%= book.Publisher %>
                    </td>
                    <td>
                        <%= book.Writers %>
                    </td>
                    <td>
                        <%= book.Categories %>
                    </td>
                    <td>
                        <%= book.Keywords %>
                    </td>
                    <td>
                        <%= book.PageNumber %>
                    </td>
                    <td>
                        <%= book.Summary %>
                    </td>
                    <td>
                        <img src="<%= book.Picture %>" alt="Book Image" height="100">
                    </td>
                    <td>
                        <%= book.Language %>
                    </td>
                    <td>
                        <%= book.Copies %>
                    </td>
                    <td>
                        <%= book.Rating %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

</body>

</html>