<!DOCTYPE html>
<html>

<head>
    <title>Στοιχεία Χρήστη</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        .user-data {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .user-data input[type="text"],
        .user-data input[type="password"],
        .user-data input[type="date"] {
            width: 400px;
            /* Adjust the width as needed */
            font-size: 16px;
            /* Adjust the font size as needed */
        }

        .submit-button {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .alert {
            position: relative;
            display: flex;
            align-items: center;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            width: fit-content;
        }

        .alert-failure {
            background-color: #ef7f7f;
            color: #bc0404;
            border: 1px solid #ef7f7f;
        }

        .alert .message {
            flex: 1;
        }

        .alert-success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }

        .alert .close {
            margin-left: 30px;
            color: #7c7c7c;
            font-size: 30px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <% if (successMessage.length> 0) { %>
        <div class="alert alert-success">
            <span class="message">
                <%= successMessage %>
            </span>
            <span class="close">&times;</span>
        </div>
        <% } %>

            <% if (failureMessage.length> 0) { %>
                <div class="alert alert-failure">
                    <span class="message">
                        <%= failureMessage %>
                    </span>
                    <span class="close">&times;</span>
                </div>
                <script>
                    console.log("<%= failureMessage %>");
                </script>
                <% } %>

                    <a href="/libapp/user/starting_page?user_id=<%= user_id %>&school_id=<%= school_id %>&teacher=<%= teacher %>"
                        style="position: absolute; top: 20px; left: 30px; font-size: 20px; text-decoration: none; color: #191e79">Αρχική</a>

                    <h1>Στοιχεία Χρήστη</h1>

                    <% if (data && data.length> 0) {
                        data.forEach(function(user) { %>
                        <div class="user-data">

                            <% if (teacher) { %>
                                <% data.forEach(function(user) { %>
                                    <form id="updateForm-<%= user.IdUsers %>" action="user_data_page/update"
                                        method="post">
                                        <p><strong>User ID:</strong>
                                            <%= user.IdUsers %>
                                        </p>
                                        <p><strong>Username:</strong>
                                            <%= user.Username %>
                                        </p>
                                        <input type="text" id="username" name="username" minlength="5" maxlength="50">
                                        <p><strong>Password:</strong>
                                            <%= user.Password %>
                                        </p>
                                        <input type="password" name="password" value="">
                                        <p><strong>Name:</strong>
                                            <%= user.TeacherName %>
                                        </p>
                                        <input type="text" id="Name" name="Name" maxlength="60">
                                        <p><strong>Address_street:</strong>
                                            <%= user.Adress_street %>
                                        </p>
                                        <input type="text" name="addr_street" value="" maxlength="45">
                                        <p><strong>Address_number:</strong>
                                            <%= user.Adress_number %>
                                        </p>
                                        <input type="text" name="addr_number" value="">
                                        <p><strong>Address_city:</strong>
                                            <%= user.Adress_city %>
                                        </p>
                                        <input type="text" name="addr_city" value="" maxlength="45">
                                        <p><strong>Email:</strong>
                                            <%= user.TeacherEmail %>
                                        </p>
                                        <input type="email" id="email" name="email" maxlength="100">
                                        <p><strong>Phone Numbers:</strong></p>
                                        <ul>
                                            <% for (const phoneNumber of phone_numbers) { %>
                                                <li>
                                                    <%= phoneNumber.PhoneNumber %>
                                                </li>
                                                <% } %>
                                        </ul>
                                        <input type="text" name="phone_numbers" value="" minlength="10"
                                            placeholder="Enter the phone numbers separated by comma">

                                        <p><strong>BirthDate:</strong>
                                            <%= user.BirthDate.toLocaleDateString(); %>
                                        </p>
                                        <input type="date" name="BirthDate" value="">
                                        <p><strong>Books Allowed to Borrow this week:</strong>
                                            <%= user.BooksToBorrow %>
                                        </p>
                                        <p><strong>Books Allowed to Reserve this week:</strong>
                                            <%= user.BooksToReserve %>
                                        </p>
                                        <input type="hidden" name="user_id" value="<%= user_id %>">
                                        <input type="hidden" name="school_id" value="<%= school_id %>">
                                        <input type="hidden" name="teacher" value="<%= teacher %>">
                                        <button type="submit">Update</button>
                                    </form>
                                    <% }); %>
                                        <% } else { %>
                                            <% data.forEach(function(user) { %>
                                                <form id="updateForm-<%= user.IdUsers %>" action="user_data_page/update"
                                                    method="post">
                                                    <p><strong>User ID:</strong>
                                                        <%= user.IdUsers %>
                                                    </p>
                                                    <p><strong>Username:</strong>
                                                        <%= user.Username %>
                                                    </p>
                                                    <p><strong>Password:</strong>
                                                        <%= user.Password %>
                                                    </p>
                                                    <input type="password" name="password" value="" minlength="5" maxlength="20">
                                                    <p><strong>Name:</strong>
                                                        <%= user.StudentName %>
                                                    </p>
                                                    <p><strong>Address_street:</strong>
                                                        <%= user.Adress_street %>
                                                    </p>
                                                    <p><strong>Address_number:</strong>
                                                        <%= user.Adress_number %>
                                                    </p>
                                                    <p><strong>Address_city:</strong>
                                                        <%= user.Adress_city %>
                                                    </p>
                                                    <p><strong>Email:</strong>
                                                        <%= user.StudentEmail %>
                                                    </p>
                                                    <p><strong>BirthDate:</strong>
                                                        <%= user.BirthDate.toLocaleDateString(); %>
                                                    </p>
                                                    <p><strong>Books Allowed to Borrow this week:</strong>
                                                        <%= user.BooksToBorrow %>
                                                    </p>
                                                    <p><strong>Books Allowed to Reserve this week:</strong>
                                                        <%= user.BooksToReserve %>
                                                    </p>
                                                    <input type="hidden" name="user_id" value="<%= user_id %>">
                                                    <input type="hidden" name="school_id" value="<%= school_id %>">
                                                    <input type="hidden" name="teacher" value="<%= teacher %>">
                                                    <button type="submit">Update</button>
                                                </form>
                                                <% }); %>
                                                    <% } %>

                        </div>
                        <% }); } else { %>
                            <p>No user data available.</p>
                            <% } %>
                                <script>
                                    // Close flash message when close button is clicked
                                    const closeButtons = document.querySelectorAll('.close');
                                    closeButtons.forEach(button => {
                                        button.addEventListener('click', () => {
                                            const alert = button.parentElement;
                                            alert.style.display = 'none';
                                        });
                                    });
                                </script>

</body>

</html>